* {
  margin: 0;
  padding: 0;
  border: 0;
}
body .pagina-geral{
  background: white;
  max-width: 940px;
  margin: 36px 230px 0 230px;
  /* font-family: 'Roboto', sans-serif; */
}
header {
  margin-bottom: 50px;
  width: 100%; 
  display: block; 
  
}
header img {
  height: 43px;
  width: 43px;
  margin-right: 50px; 
}
header a {
  text-decoration: underline;
  color: black;
  font-size: 16px; 
  font-family: 'Poppins', sans-serif;
  background-color: hotpink;
  padding: 5px;
  border-radius: 5px;
}

#sobre {
  margin-right: 30px;
  margin-left: 122.4px;
}
.carrinho {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
}
.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.card-img img {
  width: 150px;
  height: 150px;
  border-radius: 1px;
  cursor: pointer;
}
.productName {
  margin-top: 20px;
  width: 249px;
  height: 21px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}
.price {
  font-size: 15px;
  color: #111111;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.addOrRemoveItem{
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.buyButton {
  background-color: #d8ff6e;
  padding: 10px;
  margin-top: 25px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  transition: background, 0.5s;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.buyButton:hover {
  background-color: hotpink;
  

}
.footer {
  height: 62px;
  width: 1400px;
  background-color: #EEEEEE;
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
}
.footer-content {
  position: absolute;
  height: 16px;
  width: 267px;
  font-size: 14px;
  color: #999999;
  margin: 23px 567px;
}